{% extends "base.html" %}

{% block content  %}
<div class="container mt-4">

<div class="row">
<div class="col-md-10">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"> <a href="" >Expenses</a></li>
          <li class="breadcrumb-item active" aria-current="page">My expenses</li>
        </ol>
      </nav>

</div>

<div class="col-md-2">

<a href="{% url 'add_expense' %}" class="btn btn-primary">Add Expense</a>
</div>
</div>
<div class="container">
  {% include "partials/messages.html" %}
  {% if expense.count  %}




<table class="table table-stripped table-hover">


<thead>

  <tr>
    <th>Amount(CURRECNY)</th>
    <th>Category</th>
    <th>Description</th>
    <th>Date</th>
    <th>Date</th>
  </tr>
</thead>

<tbody>
{% for expenses in expense %}

  <tr>
    <td>{{expenses.amount}}</td>
    <td>{{expenses.category}}</td>
    <td>{{expenses.description}}</td>
    <td>{{expenses.date}}</td>
    <td><a href="{% url 'expense_edit' expenses.id %}" class="btn btn-secondary btn-sm">Edit</a></td>
  </tr>

  {% endfor %}
</tbody>


</table>
{% endif %}


</div>






</div>



{% endblock content  %}